.DirectoryDetailes{
    min-height: 100vh;
    border: 1px solid red;
}
.Banner{
  height: 450px;
  position: relative;
  box-shadow: 0 10px 14px 0 rgb(37 44 65 / 12%) !important; 

}

.Banner:hover .BannerImage {
  transform: scale(1.1);

}

.Banner:hover {
  cursor: pointer;

}

.Banner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: 30%;
  background: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
  z-index: 2;
}



.BannerImage{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms; 


}
.category-card-content{
z-index: 10 ;
position: absolute;
bottom: 0;
left: 0;
right: 0;
width: 100%;
color: #f1f1f1;
padding: 10px 30px;
overflow: hidden;
word-wrap: break-word;

}


